<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/sobre.css">
    <title>Sobre</title>
</head>
<style>

body {
	background-color: rgb(100, 65, 106);
}

h1 {
    font-size: 2,7em;
    color: aliceblue;
    position: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    color: aliceblue;
    position: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.texto {
    padding: 50px;
    color: aliceblue;
    width:50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1em;

}

</style>
<body>
    <div class="texto">
        <h1>Crie hábitos, tarefas e metas</h1><br><br>

        <h3>Um hábito consistente geralmente possui um ciclo definido.<br>
            Se observarmos bem cada etapa, fica mais fácil de ver onde precisamos<br>
            melhorar para solidificar o hábito que estamos falhando.
            <br><br>
            Estaremos sempre contigo nessa jornada e você será notificado da sua<br>
            rotina nos horários desejados, então não precisa se preocupar.</h3>
            <br>

        <h3>Lembre-se: para que seus hábitos cresçam e deem frutos, é necessário consistência.</h3>

</body>
</html>